.main-container {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

header {
  width: 100%;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.text {
  width: 50%;
  line-height: 30px;
  text-align: left;
}